<%= form_for(record) do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :serialNum, "Serial Number" %>
      </th>
      <th class="field">
      <%= f.label :removalDate, "Removal Date" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :serialNum %>
      </td>
      <td class="field">
        <%= f.date_select :removalDate %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :product %>
      </th>
      <th class="field">
      <%= f.label :partNum, "Part Number" %>
      </th>
      <th class="field">
      <%= f.label :supplier %>
      </th>
      <th class="field">
      <%= f.label :owner %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :product %>
      </td>
      <td class="field">
        <%= f.text_field :partNum %>
      </td>
      <td class="field">
        <%= f.text_field :supplier %>
      </td>
      <td class="field">
        <%= f.text_field :owner %>
      </td>
    </tr>
  </table>

  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :location %>
      </th>
      <th class="field">
      <%= f.label :status %>
      </th>
      <th class="field">
      <%= f.label :qn, "QN" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :location %>
      </td>
      <td class="field">
        <%= f.text_field :status %>
      </td>
      <td class="field">
        <%= f.text_field :qn %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :actionRequiredBy, "Action Required" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_area :actionRequiredBy, class: "actionReq" %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :removalReason, "Removal Reason" %>
      </th>
      <th class="field">
      <%= f.label :comments %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_area :removalReason %>
      </td>
      <td class="field">
        <%= f.text_area :comments %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
        <%= f.label :resolved %>
        <%= f.check_box :resolved %>
      </th>
      <th class="actions">
        <%= f.submit %>
      </th>
    </tr>
  </table>

<% end %>
