<%= form_for(record) do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :serialNum, "Serial Number" %>
      </th>
      <th class="field">
      <%= f.label :removalDate, "Removal Date" %>
      </th>
      <th class="field">
      <%= f.label :removalLocation, "Removal Location" %>
      </th>
      <th class="field">
      <%= f.label :program, "Program" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :serialNum %>
      </td>
      <td class="field">
        <%= f.date_select :removalDate %>
      </td>
      <td class="field">
        <%= f.text_field :removalLocation %>
      </td>
      <td class="field">
        <%= f.text_field :program %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :product %>
      </th>
      <th class="field">
      <%= f.label :partNum, "Part Number" %>
      </th>
      <th class="field">
      <%= f.label :supplier %>
      </th>
      <th class="field">
      <%= f.label :owner %>
      </th>
      <th class="field">
      <%= f.label :status %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :product %>
      </td>
      <td class="field">
        <%= f.text_field :partNum %>
      </td>
      <td class="field">
        <%= f.text_field :supplier %>
      </td>
      <td class="field">
        <%= f.text_field :owner %>
      </td>
      <td class="field">
        <%= select("record", "status", Record::STATUSES, {include_blank: true}) %>
      </td>
    </tr>
  </table>

  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :qn, "PW QN" %>
      </th>
      <th class="field">
      <%= f.label :d3QN, "UTAS D3 QN" %>
      </th>
      <th class="field">
      <%= f.label :v2QN, "UTAS V2 QN" %>
      </th>
      <th class="field">
      <%= f.label :pwPO, "PW PO" %>
      </th>
      <th class="field">
      <%= f.label :utasPO, "UTAS PO" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :qn %>
      </td>
      <td class="field">
        <%= f.text_field :d3QN %>
      </td>
      <td class="field">
        <%= f.text_field :v2QN %>
      </td>
      <td class="field">
        <%= f.text_field :pwPO %>
      </td>
      <td class="field">
        <%= f.text_field :utasPO %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :actionRequiredBy, "Action Required" %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_area :actionRequiredBy, class: "actionReq" %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
      <%= f.label :removalReason, "Removal Reason" %>
      </th>
      <th class="field">
      <%= f.label :comments %>
      </th>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_area :removalReason %>
      </td>
      <td class="field">
        <%= f.text_area :comments %>
      </td>
    </tr>
  </table>
  
  <table class="boo">
    <tr>
      <th class="field">
        <%= f.label :resolved %>
        <%= f.check_box :resolved %>
      </th>
      <th class="actions">
        <%= f.submit %>
      </th>
    </tr>
  </table>

<% end %>
