<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Testing Sheet">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Serial Number</Data></Cell>
        <Cell><Data ss:Type="String">Product</Data></Cell>
        <Cell><Data ss:Type="String">Part Number</Data></Cell>
        <Cell><Data ss:Type="String">Removal Date</Data></Cell>
        <Cell><Data ss:Type="String">Owner</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Resolve By</Data></Cell>
        <Cell><Data ss:Type="String">Removal Reason</Data></Cell>
        <Cell><Data ss:Type="String">Comments</Data></Cell>
        <Cell><Data ss:Type="String">Supplier</Data></Cell>
        <Cell><Data ss:Type="String">PW PO</Data></Cell>
        <Cell><Data ss:Type="String">UTAS PO</Data></Cell>
        <Cell><Data ss:Type="String">QN</Data></Cell>
        <Cell><Data ss:Type="String">Resolved?</Data></Cell>
      </Row>
    <% recordSet.each do |record| %>
      <Row>
        <Cell><Data ss:Type="String"><%= record.serialNum %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.product %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.partNum %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.removalDate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.owner %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.resolveBy %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.removalReason %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.comments %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.supplier %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pwPO %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.utasPO %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qn %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.resolved %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>