<%= form_for(:record, method: "get") do |f| %>
<div>
  <%= f.label(:snQuery, "Serial Number:") %>
  <%= f.text_field(:snQuery) %>
  <%= f.label(:productQuery, "Product:") %>
  <%= f.text_field(:productQuery) %>
  <%= f.label(:supplierQuery, "Supplier:") %>
  <%= f.text_field(:supplierQuery) %>
  <%= f.submit("Search", :name => nil) %>
</div>

<table>
  <thead>
    <tr>
      <th> <%= f.label(:snQuery, "Serial Number:") %></th>
      <th> <%= f.label(:productQuery, "Product:") %></th>
      <th> <%= f.label(:supplierQuery, "Supplier:") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= f.text_field(:snQuery) %> </td>
      <td> <%= f.text_field(:productQuery) %> </td>
      <td> <%= f.text_field(:supplierQuery) %> </td>
    </tr>
  </tbody>
</table>
<%= f.submit("Search", :name => nil) %>
<%= render 'table' %>
<% end %>