<%= form_for(:record, method: "get") do |f| %>

<table class="boo">
  <thead>
    <tr>
      <th> <%= f.label(:snQuery, "Serial Number:") %></th>
      <th> <%= f.label(:productQuery, "Product:") %></th>
      <th> <%= f.label(:supplierQuery, "Supplier:") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= f.text_field(:snQuery) %> </td>
      <td> <%= f.text_field(:productQuery) %> </td>
      <td> <%= f.text_field(:supplierQuery) %> </td>
    </tr>
  </tbody>
</table>
<div class="foo">
  <%= f.submit("Search", :name => nil) %>
</div>
<%= render 'table' %>
<% end %>
