<%= form_for(:record, method: "get") do |f| %>

<table class="boo">
  <thead>
    <tr>
      <th> <%= f.label(:snQuery, "Serial Number:") %></th>
      <th> <%= f.label(:productQuery, "Product:") %></th>
      <th> <%= f.label(:supplierQuery, "Supplier:") %></th>
      <th> <%= f.label(:statusQuery, "Status:") %> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= f.text_field(:snQuery) %> </td>
      <td> <%= select("record", :productQuery, (Product.all.collect{|r| r.prodName}).uniq.sort, { include_blank: true }) %> </td>
      <td> <%= select("record", :supplierQuery, (Product.all.collect{|r| r.prodSupplier}).uniq.sort, { include_blank: true }) %> </td>
      <td> <%= select("record", :statusQuery, Record::STATUSES, { include_blank: true }) %> </td>
    </tr>
  </tbody>
</table>
<div class="foo">
  <%= f.submit("Search", :name => nil) %>
</div>
<%= render 'table' %>
<% end %>

<%= render 'xlsx_download_footer' %>