<p id="notice"><%= notice %></p>

<table class="due">
  <tr>
    <th>Serial Number</th>
    <th>Removal Date</th>
    <th>Removal Location</th>
    <th>Program</th>
  </tr>
  <tr>
    <td> <%= @record.serialNum %> </td>
    <td> <%= @record.removalDate %> </td>
    <td> <%= @record.removalLocation %> </td>
    <td> <%= @record.program %> </td>
  </tr>
</table>

<table class="due">
  <tr>
    <th>Product</th>
    <th>Part Number</th>
    <th>Supplier</th>
    <th>Owner</th>
    <th>Status</th>
  </tr>
  <tr>
    <td> <%= @record.product %> </td>
    <td> <%= @record.partNum %> </td>
    <td> <%= @record.supplier %> </td>
    <td> <%= @record.owner %> </td>
    <td> <%= @record.status %> </td>
  </tr>
</table>

<table class="due">
  <tr>
    <th>PW QN</th>
    <th>UTAS D3 QN</th>
    <th>UTAS V2 QN</th>
    <th>pwPO</th>
    <th>utasPO</th>
  </tr>
  <tr>
    <td> <%= @record.qn %> </td>
    <td> <%= @record.d3QN %> </td>
    <td> <%= @record.v2QN %> </td>
    <td> <%= @record.pwPO %> </td>
    <td> <%= @record.utasPO %> </td>
  </tr>
</table>

<table class="boo">
    <tr>
      <th>Action Required</th>
    </tr>
    <tr>
      <td> <%= @record.actionRequiredBy %> </td>
    </tr>
</table>

<table class="due">
  <tr>
    <th>Removal Reason</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td> <%= @record.removalReason %> </td>
    <td> <%= @record.comments %> </td>
  </tr>
</table>


<%= link_to 'Edit', edit_record_path(@record) %> | 
<%= link_to 'Destroy', @record, method: :delete, data: { confirm: 'THIS ACTION CANNOT BE UNDONE. PLEASE CONFIRM TO CONTINUE' } %> |
<%= link_to 'Back', records_path %>
