<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prodName, "Part name (abbreviated):" %>
    <%= f.text_field :prodName %>
  </div>

  <div class="field">
    <%= f.label :prodNum, "Associated In-house Part Number (enter only one):" %>
    <%= f.text_field :prodNum %>
  </div>

  <div class="field">
    <%= f.label :prodSupplierNum, "Associated Supplier Part Number (leave blank if not applicable" %>
    <%= f.text_field :prodSupplierNum %>
  </div>

  <div class="field">
    <%= f.label :prodUTASowners, "In-house Owners" %>
    <%= f.text_field :prodUTASowners %>
  </div>

  <div class="field">
    <%= f.label :prodSupplier, "Supplier of part" %>
    <%= f.text_field :prodSupplier %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
