<!DOCTYPE html>
<html>
<head>
  <title>Production Returns Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1>
  <%= link_to 'All Returns', records_path %> | <%= link_to 'Active Returns', '/records/active' %> 
  | <%= link_to 'Resolved Returns', '/records/resolved' %> | <%= link_to 'Search Returns', '/records/search' %>
    | <%= link_to 'Add Return', new_record_path %>
</h1>

<body>

<%= yield %>

</body>
</html>
